<md-card>
	<md-toolbar class="md-display-1" flex>
		Register
	</md-toolbar>

	<md-input-container>
		<label>Username:</label>
		<input type="text" ng-model="user.username">
	</md-input-container>

	<md-input-container>
		<label>5-Digit Zip Code:</label>
		<input type="text" ng-model="user.zip">
	</md-input-container>

	<md-input-container>
		<label>Preferred email address:</label>
		<input type="email" ng-model="user.pEmail" placeholder="preferred email address">
	</md-input-container>
	<!-- button -->
	<md-button class="md-primary" ng-click="registerUser()">Next Step</md-button>
</md-card>

