<!-- <button ng-click="createVeg()">Create that veg!</button> -->
<form>
	<label>ZONE:</label><input ng-model="veg.zone">
	<label>Veg Name:</label><input type="text" ng-model="veg.name"> <br>
	<br>
	<label>direct sow begin</label><input ng-model="veg.dsbd"><br>
	<label>direct sow end</label><input ng-model="veg.dsed"><br>
	<label>direct sow begin2</label><input ng-model="veg.dsbd2"><br>
	<label>direct sow end2</label><input ng-model="veg.dsed2"><br>
	<label>indoor begin</label><input	ng-model="veg.isbd"><br>
	<label>indoor end</label><input	ng-model="veg.ised"><br>
	<label>indoor begin2</label><input	ng-model="veg.isbd2"><br>
	<label>indoor end2</label><input	ng-model="veg.ised2"><br>
	<label>transplant begin</label><input ng-model="veg.transBD"><br>
	<label>transplant end</label><input ng-model="veg.transED"><br>
	<label>transplant begin2</label><input ng-model="veg.transBD2"><br>
	<label>transplant end2</label><input ng-model="veg.transED2"><br>

	<label>Veg Sci Name:</label><input type="text" ng-model="veg.sciName"> <br>
	<label>Veg Image URL:</label><input type="text" ng-model="imgUrl"> <br>
	<label>name for URL:</label><input type="text" ng-model="namey">

	<!-- button -->
	<input type="submit" ng-click="createVeg()" value="Create Vegetable">
	<input type="submit" ng-click="addUrl()" value="Add Image URL">
</form>


<!-- <md-card>
	
	<md-input-container>
		<label>URL:</label>
		<input type="text" ng-model="veg.url" /> 
	</md-input-container>

	<input type="submit" ng-click="addUrl()" value="Create Vegetable">
	<md-button ng-click="addUrl()" class="md-primary">Add URL</md-button>

</md-card> -->
<h1>intro, local image, blah blah blah</h1>
<form>
	<label>name:</label><input type="text" ng-model="veg.name">
	<label>intro:</label><input type="text" ng-model="veg.intro">
	<label>infoLink:</label><input type="text" ng-model="veg.infoLink">
	<label>harvest info:</label><input type="text" ng-model="veg.harvestInfo">
	<label>localImg:</label><input type="text" ng-model="veg.localImg">
	<input type="submit" ng-click="addInfo()" value="Add Info">
</form>