<div style="margin-top:64px">

	<md-button style="width:100%; margin:0;" class="md-primary md-raised md-hue-3 md-display-1" ng-click="calMagic(); openToast();">Add these dates to your Google Calendar!</md-button>

	<md-content>
		<md-grid-list md-cols="4" md-rows="4" md-gutter="1px" md-row-height="275px" style="display:flex; flex-direction:row; flex-wrap:wrap; flex-flow:row wrap; justify-content:space-around;">
			<md-grid-tile ng-repeat="veggie in userVeggies">
				<div style="height:100%; width:100%">
					<!-- <md-grid-tile-header>
						<span layout="column">
							<div ng-repeat="date in"class="md-subhead">asdfsaddf</div>
							<div class="md-subhead">asdfasd</div>
						</span>
					</md-grid-tile-header> -->
					<img src="{{veggie.localImg}}" style="width:100%; height:100%; object-fit: cover;" >
					<md-grid-tile-footer layout="row" style="background-color: black; padding-left: 5px">
						<md-button class="md-icon-button md-primary" aria-label="Settings">
			        <md-icon md-svg-icon="images/menuWhite.svg"></md-icon>
			      </md-button>
			      <span flex></span>
						<span class="md-title">{{veggie.name}}</span>
					</md-grid-tile-footer>
				</div>
			</md-grid-tile>
		</md-grid-list>;
	</md-content>

</div>

<!-- THE STUFF BELOW SHOULD STAY!!! IT IS FOR FLEXBOX INSTEAD OF MD-GRID-LIST!!! -->
<!-- <div style="display:flex; flex-direction:row; flex-wrap:wrap; flex-flow:row wrap; justify-content:space-around;">
	<div ng-repeat="veggie in userVeggies">
		<div style="width:300px; height: 300px;">
			<img src="{{veggie.imgPath}}" style="width:100%; height:100%; object-fit: cover;" >
		</div>
	</div>
</div> -->