#left-sidebar {
	width: 300px;
	height: 100%;
	float: left;
	border-right: 1px solid black;
}

.choice {
	width: 100%;
	height: 75px;
	background-color: gray;
	border: 1px solid white;
}

.plant-tile {
	width: 300px;
	height: 300px;
	margin: 15px;
	border: 1px solid black;
	float: left;
}