#left-sidebar {
	width: 230px;
	height: 100%;
	float: left;
	border-right: 1px solid white;
}

.choice {
	width: 100%;
	height: 75px;
	background-color: gray;
	border: 1px solid white;
}

.plant-tile {
	width: 300px;
	height: 300px;
	margin: 15px;
	border: 1px solid black;
	float: left;
}

.custom-modal {
	padding: 0;
}

.pc-sidebar-item {
	padding-left: 10px;
	margin: 2px;
}

.pc-subview {
	height:100%;
	width:calc(100% - 230px);
	float:right;
}

md-grid-tile-footer {
	opacity: 0.6 !important;
}

.s24 {
  width: 24px;
  height: 24px;
  color: #f00; }
.s36 {
  width: 36px;
  height: 36px;
  color: #0f0; }
.s48 {
  width: 48px;
  height: 48px;
  color: #00f; }

.md-fab:hover, .md-fab.md-focused {
  background-color: #000 !important;
}