<div id="mainView">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <span class="md-display-1">Choose your vegetables</span>
      <span flex></span>
      <md-fab-speed-dial md-direction="down" style="float:right; margin-top:auto;" class="md-fling" md-open="false">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab s48 md-primary md-hue-3">
            <md-tooltip md-direction="top">Menu</md-tooltip>
            <md-icon md-svg-icon="images/simpleLogo.svg" class="s48"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button class="md-fab s36 md-hue-3 md-raised md-mini" style="margin-top:5px">
            <md-tooltip md-direction="left">Twitter</md-tooltip>
            <md-icon md-svg-icon="images/twittercircle.svg"></md-icon>
          </md-button>
          <md-button aria-label="facebook" class="s36 md-fab md-raised md-mini" style="margin-top:5px">
            <md-tooltip md-direction="left">Facebook</md-tooltip>
            <md-icon md-svg-src="images/facebookcircle.svg"></md-icon>
          </md-button>
          <md-button aria-label="Google+" class="md-fab md-raised md-mini" style="margin-top:5px">
            <md-tooltip md-direction="left">Google+</md-tooltip>
            <md-icon md-svg-src="images/g+circle.svg"></md-icon>
          </md-button>
          <md-button aria-label="Pinterest" class="md-fab md-raised md-mini" style="margin-top:5px">
            <md-tooltip md-direction="left">Pinterest</md-tooltip>
            <md-icon md-svg-src="images/pinterestcircle.svg"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini" style="margin-top:5px">
            <md-tooltip md-direction="left">GitHub</md-tooltip>
            <md-icon md-svg-src="images/githubcircle.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </md-toolbar>

 	<div id="left-sidebar">
 		<md-button style="vertical-align:middle; margin:0; width:100%; text-align:left; padding-left:8px;" class="md-accent md-headline md-sidebar-item" ng-repeat="veggie in veggies" ng-click="openModal(veggie)">
 			<h2 class="md-title">{{veggie.displayName}}</h2>
		</md-button>	
 	</div>

 	<div ui-view style="height:100%; width:calc(100% - 230px); float:right;"></div>
</div>