
@import "/guts/plantChoice/plantChoice.css";
@import "/guts/register/register.css";

html, body {
	height : 100%;
	width  : 100%;
	margin : 0;
}

#mainView {
	width  : 100%;
	height : 100%;
}

md-card md-card-content {
	padding: 0px !important;
}

.modal-content {
	height: auto !important;
}

md-toolbar {
	vertical-align: middle;
}

/*ICON STYLES*/
.s24 {
  width  : 24px;
  height : 24px;
  color  : #f00;
}

.s36 {
  width  : 36px;
  height : 36px;
  color  : #0f0;
}

.s48 {
  width  : 48px;
  height : 48px;
  color  : #00f;
}

.s200 {	
  width  : 130px;
  height : 130px;
  color  : #00f;
}