.homeSky {
	width            : 100%;
	height           : 50%;
	background-color : #6DD7FF;
}

.homeSun {
	width            : 100px;
	height           : 100px;
	margin-top       : 100px;
	margin-right     : 15%;
	border-radius    : 50%;
	float            : right;
	background-color : #FFFF9E;
}

.homeLogoContainer {
	position    : absolute;
	left        : 50%;
	margin-left : -100px;
	top         : 50%;
	margin-top  : -100px;
	width       : 200px;height:200px;
}

.homeGroButton {
	height        : 200px !important;
	width         : 200px !important;
	border-radius : 50%;
}

.homeGreen {
	width:100%;
	height:4%;
	background-color:#97EBA5;
}

.homeDirt {
	width:100%;
	height:46%;
	background-color:#B9A7A1;
}