<md-card style="padding: 9px; margin:0;">
	<md-title>{{sowType}}</md-title>
	<md-subhead style="font-size:10px;">({{formattedBegin | date:"MMM d"}} - {{formattedEnd | date: "MMM d"}})</md-subhead>
  <br>
	<!-- <md-checkbox md-class="primary" ng-model="showCal" aria-label="sowType"></md-checkbox> -->

  <md-switch ng-model="showCal" aria-label="sowType"></md-switch>
  <!-- <paper-toggle-button class="md-primary" ng-model="showCal"></paper-toggle-button> -->
	<!-- ^^ng-checked=""^^ -->

	<div ng-show="showCal">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="onChange()"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i ng-click="dtLog()" class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
  </div>	
</md-card>