<md-content class="md-raised">  
  <md-card style="height:300px; padding:0; margin:0;">
    <md-card-content>
      
      <md-toolbar><div class="md-title">{{veggie.displayName}}</div></md-toolbar>
      <div layout="row">
      <dir-plant-choice date-obj="val" sow-type="key" ng-repeat="(key, val) in veggie.zoneDates[user.zoneData.shortZone]" flex></dir-plant-choice>
      </div>
      <p>
        The {{veggie.name}} blah blah blah
      </p>
    </md-card-content>

    <div class="md-actions" layout="row" layout-align="end center">
      <md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
      <md-button class="md-raised md-primary" ng-click="addSowDates()">Add Dates</md-button>
    </div>
  </md-card>
</md-content>